{{ ansible_managed | comment }}

ruleset(name="{{ properties.rule_set.name }}") {
{% for action in properties.rule_set.actions %}
{{ action | to_rsyslog_action | indent(width=4, indentfirst=True) }}
{% endfor %}
}
