[Unit]
Description=CEE RSYSLOG Service
After=docker.service
Requires=syslog.socket

[Service]
Restart=always
ExecStart=/usr/bin/docker start --attach {{ container_name }}
ExecStop=/usr/bin/docker stop {{ container_name }}

[Install]
WantedBy=multi-user.target
Alias=syslog.service
