global:
  resolve_timeout: 5m
  smtp_require_tls: true
route:
  group_by: ['alarm']
  group_wait: 30s
  group_interval: 60s
  repeat_interval: 1h
  receiver: 'web.hook'
receivers:
  - name: 'web.hook'
    webhook_configs:
    - url: '{{ public_protocol }}://{{ 'api' | kolla_address | put_address_in_context('url') }}:{{ watchmen_webhook_listen_port }}'
  - name: default-receiver
{% if enable_vitrage | bool and enable_vitrage_prometheus_datasource | bool %}
    webhook_configs:
      - send_resolved: true
        url: '{{ public_protocol }}://{{ kolla_external_fqdn | put_address_in_context('url') }}:{{ vitrage_api_port }}/v1/event'
        http_config:
          basic_auth:
            username: '{{ keystone_admin_user }}'
            password: '{{ keystone_admin_password }}'
{% endif %}
templates: []
inhibit_rules:
  - source_match:
      severity: major
    target_match:
      severity: minor
    equal: ['exported_instance']
  - source_match:
      severity: critical
    target_match:
      severity: minor
    equal: ['exported_instance']
  - source_match:
      severity: critical
    target_match:
      severity: major
    equal: ['exported_instance']
