[loggers]
keys=root

[handlers]
keys=consoleHandler, syslogHandler

[formatters]
keys=logFormatter

[logger_root]
level={{ watchmen_service_log_level | upper }}
handlers=consoleHandler, syslogHandler

[handler_consoleHandler]
class=StreamHandler
level={{ watchmen_service_log_level | upper }}
formatter=logFormatter
args=(sys.stdout,)

[handler_syslogHandler]
class=handlers.SysLogHandler
level={{ watchmen_service_log_level | upper }}
formatter=logFormatter
args=('/dev/log', handlers.SysLogHandler.LOG_LOCAL0)

[formatter_logFormatter]
format={{ watchmen_service_name }}: %(name)s - %(levelname)s - %(message)s
