# ----------------------------------------------------------- #
# Configuration file for the watchmen-consumer-setup process. #
# ----------------------------------------------------------- #

[DEFAULT]

# Set to True to use unified sequence number for both alarms and alerts
unified_alarm_alert_sequence_no={{ watchmen_unified_alarm_alert_sequence_no }}

# Path to the logging configuration file
logging_conf={{ watchmen_consumer_setup_logging_conf }}

# A URL representing the database connection and its full configuration
database_connection={{ watchmen_database_connection }}
