{{ file_marker }}
BOOTPROTO=none
STARTMODE=hotplug
BROADCAST=''
NM_CONTROLLED=no
USERCTL=no
{% if disable_lro is defined and disable_lro %}
ETHTOOL_OPTIONS="lro off"
{% endif %}
PRE_UP_SCRIPT='wicked:{{ net_path }}/ifscript-{{ item.1 }}.sh'
POST_UP_SCRIPT='wicked:{{ net_path }}/ifscript-{{ item.1 }}.sh'
PRE_DOWN_SCRIPT='wicked:{{ net_path }}/ifscript-{{ item.1 }}.sh'
POST_DOWN_SCRIPT='wicked:{{ net_path }}/ifscript-{{ item.1 }}.sh'
